#conteneur{
  display: flex;
  flex-wrap: wrap;
}
.vert{
  background-color:#3ADF00;
  height: 20px;
  width: 80%;
}
.bleu{
  background-color:#2E64FE;
  height: 20px;
  width: 20%;
}
.rouge{
  background-color:#FE2E2E;
  height: 40px;
  width: 30%;
}
.orangef{
  background-color: orange;
  height:40px;
  width: 35%;
}
.gris{
  background-color: grey;
  height: 40px;
  width: 35%;
}
.orangec{
  background-color: yellow;
  height: 40px;
  width: 23%;
}
.bleuc{
  background-color: brown;
  height: 40px;
  width: 23%;
}
.orangeff{
  background-color: purple;
  height: 40px;
  width: 24%;
}
.bleuf{
  background-color: black;
  height: 60px;
  width: 100%;
}
